@{
    ViewData["Title"] = "About us";
}

<div class="container mt-5" style="margin-top: 50px;">
    <h1 class="display-4">Ласкаво просимо до нашої спільноти!</h1>

    <div class="card bg-success text-white mt-4">
        <div class="card-body">
            <p class="lead">Ми - команда відданих індивідів, об'єднаних бажанням робити світ кращим. Наша місія - принести позитивні зміни у життя людей та оточуючого нас світу.</p>
        </div>
    </div>

    <div class="card bg-success text-white mt-4">
        <div class="card-body">

            <h5 class="card-header">Цінності</h5>
            <ul class="list-group">
                <li class="list-group-item bg-light">Співпраця: Ми віримо у силу спільної роботи та обміну ідеями.</li>
                <li class="list-group-item bg-light">Відданість: Ми прагнемо досягти високих результатів та приносити користь усім, кого ми знаходимо.</li>
                <li class="list-group-item bg-light">Інновації: Ми відкриті до новаторських ідей і завжди шукаємо кращі шляхи для досягнення наших цілей.</li>
            </ul>
        </div>
    </div>

    <div class="card bg-success text-white mt-4">
        <div class="card-body">
            <p class="lead mt-3">Приєднуйтесь до нас у цьому захоплюючому подорожі!</p>
        </div>
    </div>
</div>
