@{
    ViewData["Title"] = "Про нас";
}

<div class="container mt-5" style="margin-top: 50px;">
    <h1 class="display-4">Ласкаво просимо до нашої спільноти!</h1>

    <p class="lead">Ми - команда відданих індивідів, об'єднаних бажанням робити світ кращим. Наша місія - принести позитивні зміни у життя людей та оточуючого нас світу.</p>

    <p>Наши цінності:</p>
    <ul class="list-group">
        <li class="list-group-item"><strong>Співпраця:</strong> Ми віримо у силу спільної роботи та обміну ідеями.</li>
        <li class="list-group-item"><strong>Відданість:</strong> Ми прагнемо досягти високих результатів та приносити користь усім, кого ми знаходимо.</li>
        <li class="list-group-item"><strong>Інновації:</strong> Ми відкриті до новаторських ідей і завжди шукаємо кращі шляхи для досягнення наших цілей.</li>
    </ul>

    <p class="lead mt-3">Приєднуйтесь до нас у цьому захоплюючому подорожі!</p>
</div>
