@{
    ViewData["Title"] = "Головна";
}
<body class="bg-light mt-5 text-light" >

    <div class="card  bg-success mt-1 ">
        <h2 class="card-header mb-4">Вітаємо на Сайті "Захист Природи</h2>
       
        <p>Ми — команда ентузіастів, які вірять у необхідність бережливого та відповідального ставлення до нашого природного середовища. Створений для того, щоб об'єднати людей, які прагнуть робити світ кращим, наш сайт — це віртуальний куточок, де ви можете долучитися до захисту навколишнього середовища та дізнатися більше про проблеми, які стоять перед нашою планетою.</p>
    </div>
    <div class="card bg-success mt-1">
        <h2 class="card-header mb-4">Наші Цілі:</h2>
       
        <ul>
            <li><strong>Збереження Різноманіття:</strong> Ми прагнемо зберегти та відновити біорізноманіття, зберігаючи різноманіття рослин, тварин і екосистем.</li>
            <li><strong>Освіта та Просвіта:</strong> Надаючи інформацію та освіту, ми сприяємо усвідомленню людей щодо важливості природи та її впливу на наше життя.</li>
            <li><strong>Активна Участь:</strong> Ми віримо в силу спільної дії. Разом ми можемо внести вагомий внесок у захист природи.</li>
        </ul>
    </div>
    <div class="card  bg-success mt-1">
        <h2 class="card-header mb-4">Як ви можете долучитися:</h2>
       
        <ul>
            <li><strong>Стежте за Новинами:</strong> Дізнавайтеся про актуальні екологічні події та проблеми, які потребують уваги.</li>
            <li><strong>Бережливе Споживання:</strong> Навчіться та діліться способами бережливого споживання для зменшення негативного впливу на природу.</li>
            <li><strong>Участь в Проектах:</strong> Приєднуйтеся до наших екологічних проектів та подій для активної участі у збереженні природи.</li>
            <li><strong>Поширення Інформації:</strong> Допоможіть нам поширювати інформацію про важливість екології та захисту природи.</li>
        </ul>
    </div>

  
</body>
