@model newProject.Models.Content
<!DOCTYPE html>
<html>
<head>
    <title>Content Details</title>
</head>
<body>
    <h1>Content Details</h1>
    <p>ID: @Model.Id</p>
    <p>Info: @Model.Info</p>
</body>
</html>