@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="bg-light">

    <div class="container mt-5">
        <h1>@ViewData["Title"]</h1>

        <div class="card">
            <div class="card-body">
                <p class="card-text">Ця сторінка містить нашу політику конфіденційності. Ми прагнемо забезпечити безпеку та конфіденційність інформації, яку ви нам надаєте.</p>
                <p class="card-text">Ми використовуємо ваші персональні дані лише для покращення досвіду користувачів. Ми не розголошуємо, не продаемо та не передаємо ваші дані третім сторонам без вашого дозволу.</p>
                <p class="card-text">Детальніше про нашу політику конфіденційності ви можете знайти вище</p>
            </div>
        </div>
    </div>

  
</body>
</html>

