@model IEnumerable<newProject.Models.Content>

@{
    ViewData["Title"] = "Top Content";
}
<body class="bg-light">

    <div class="container mt-5">
        <h1 class="mb-4">Top Content</h1>

        @foreach (var content in Model)
        {
            <div class="card overflow-auto bg-success text-white mb-3">
                <div class="card-body">
                    <p class="card-text">ID: @content.Id</p>
                    <p class="card-text">Info: @content.Info</p>
                </div>
            </div>
        }

    </div>

    
</body>
